@using System.Web.Optimization
@using Abp.Configuration
@using Diary.Configuration
@using Diary.Web.Models.Common
@model CountViewModel
@{
    ViewBag.ActiveMenu = PageNames.Home; //The menu item will be active for this page.
    var uiTheme = SettingManager.GetSettingValue(AppSettingNames.UiTheme);
}
@section styles {
    <link href="~/lib/morris.js/morris.css" rel="stylesheet" />
}
@section scripts{
    <script>
        function initDonutChart() {
            Morris.Donut({
                element: 'donut_chart',
                data: [{
                        label: 'Breakfast',
                        value: @Model.MealBreakfast
                    }, {
                        label: 'Lunch',
                        value: @Model.MealLunch
                    }, {
                        label: 'Dinner',
                        value: @Model.MealDinner
                    }, {
                        label: 'Snack',
                        value: @Model.MealSnack
                    },
                    {
                        label: 'Other',
                        value: @Model.MealOther
                    }],
                colors: ['rgb(233, 30, 99)', 'rgb(0, 188, 212)', 'rgb(255, 152, 0)', 'rgb(0, 150, 136)', 'rgb(96, 125, 139)'],
                formatter: function (y) {
                    return y + '%'
                }
            });
        }
    </script>
    @Scripts.Render("~/Bundles/home-index")
}
<div class="block-header">
    <h2>ADMIN DASHBOARD</h2>
</div>
<!-- Widgets -->
<div class="row clearfix">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-pink hover-expand-effect">
            <div class="icon">
                <i class="material-icons">person_add</i>
            </div>
            <div class="content">
                <div class="text">@L("NewUsers").ToUpper()</div>
                <div class="number count-to" data-from="0" data-to="@Model.Users" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-cyan hover-expand-effect">
            <div class="icon">
                <i class="material-icons">restaurant_menu</i>
            </div>
            <div class="content">
                <div class="text">@L("NewMeals").ToUpper()</div>
                <div class="number count-to" data-from="0" data-to="@Model.Meals" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-light-green hover-expand-effect">
            <div class="icon">
                <i class="material-icons">kitchen</i>
            </div>
            <div class="content">
                <div class="text">@L("NewIngredients").ToUpper()</div>
                <div class="number count-to" data-from="0" data-to="@Model.Ingredients" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="info-box bg-orange hover-expand-effect">
            <div class="icon">
                <i class="material-icons">playlist_add_check</i>
            </div>
            <div class="content">
                <div class="text">@L("NewNutritionFacts").ToUpper()</div>
                <div class="number count-to" data-from="0" data-to="@Model.NutritionFacts" data-speed="1000" data-fresh-interval="20"></div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Widgets -->
<!-- CPU Usage -->
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-6">
                        <h2>@L("Statistics")</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6 align-right">
                        <div class="switch panel-switch-btn">
                            <span class="m-r-10 font-12">REAL TIME</span>
                            <label>OFF<input type="checkbox" id="realtime" checked><span class="lever switch-col-cyan"></span>ON</label>
                        </div>
                    </div>
                </div>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body hidden">
                <div id="real_time_chart" class="dashboard-flot-chart"></div>
            </div>
        </div>
    </div>
</div>
<!-- #END# CPU Usage -->
<div class="row clearfix">
    <!-- Visitors -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="body bg-pink">
                <div class="m-b--35 font-bold">@L("DashboardTitleNutritionFactTypes").ToUpper()</div>
                <ul class="dashboard-stat-list">
                    <li>
                        @L("Calories").ToUpper()
                        <span class="pull-right"><b>@Model.TotalCalories</b> <small>KCAL</small></span>
                    </li>
                    <li>
                        <hr />
                    </li>
                    <li>
                        @L("Carbohydrates").ToUpper()
                        <span class="pull-right"><b>@Model.TotalCarbs</b> <small>GRAMS</small></span>
                    </li>
                    <li>
                        @L("Protein").ToUpper()
                        <span class="pull-right"><b>@Model.TotalProtein</b> <small>GRAMS</small></span>
                    </li>
                    <li>
                        @L("Fats").ToUpper()
                        <span class="pull-right"><b>@Model.TotalFat</b> <small>GRAMS</small></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Visitors -->
    <!-- Latest Social Trends -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="body bg-cyan">
                <div class="m-b--35 font-bold">@L("DashboardTitleMostUsedIngredients").ToUpper()</div>
                <ul class="dashboard-stat-list">
                    @for (int i = 0; i < Model.MostUsedIngredients.Count; i++)
                    {
                        <li>
                            #@Model.MostUsedIngredients[i]
                            @if (i < 3)
                            {
                                <span class="pull-right">
                                    <i class="material-icons">trending_up</i>
                                </span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Latest Social Trends -->
    <!-- Answered Tickets -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="body bg-teal">
                <div class="font-bold m-b--35">@L("DashboardTitleMealHistory").ToUpper()</div>
                <ul class="dashboard-stat-list">
                    <li>
                        @L("HistoryToday").ToUpper()
                        <span class="pull-right"><b>@Model.MealToday</b> <small>@L("MealList").ToUpper()</small></span>
                    </li>
                    <li>
                        @L("HistoryYesterday").ToUpper()
                        <span class="pull-right"><b>@Model.MealYesterday</b> <small>@L("MealList").ToUpper()</small></span>
                    </li>
                    <li>
                        @L("HistoryLastWeek").ToUpper()
                        <span class="pull-right"><b>@Model.MealLastWeek</b> <small>@L("MealList").ToUpper()</small></span>
                    </li>
                    <li>
                        @L("HistoryLastMonth").ToUpper()
                        <span class="pull-right"><b>@Model.MealLastMonth</b> <small>@L("MealList").ToUpper()</small></span>
                    </li>
                    <li>
                        @L("HistoryLastYear").ToUpper()
                        <span class="pull-right"><b>@Model.Meals</b> <small>@L("MealList").ToUpper()</small></span>
                    </li>
                    <li>
                        @L("HistoryAll").ToUpper()
                        <span class="pull-right"><b>@Model.Meals</b> <small>@L("MealList").ToUpper()</small></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #END# Answered Tickets -->
</div>
<div class="row clearfix">
    <!-- Task Info -->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="card">
            <div class="header">
                <h2>@L("DashboardTitleIngredientTypes").ToUpper()</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="body">
                <div class="table-responsive">
                    <table class="table table-hover dashboard-task-infos">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>#</th>
                                <th>% Total</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td><span class="label bg-green">Meat</span></td>
                                <td>@Model.IngredientMeat</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="@Model.IngredientMeat" aria-valuemin="0" aria-valuemax="@Model.Ingredients" style="width: @(Convert.ToInt32((double) Model.IngredientMeat * 100 / (double) Model.Ingredients))%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="label bg-blue">Vegetable</span></td>
                                <td>@Model.IngredientVegetable</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="@Model.IngredientVegetable" aria-valuemin="0" aria-valuemax="@Model.Ingredients" style="width: @(Convert.ToInt32((double) Model.IngredientVegetable * 100 / (double) Model.Ingredients))%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="label bg-light-blue">Fruit</span></td>
                                <td>@Model.IngredientFruit</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-light-blue" role="progressbar" aria-valuenow="@Model.IngredientFruit" aria-valuemin="0" aria-valuemax="@Model.Ingredients" style="width: @(Convert.ToInt32((double) Model.IngredientFruit * 100 / (double) Model.Ingredients))%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="label bg-orange">Drink</span></td>
                                <td>@Model.IngredientDrink</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="@Model.IngredientDrink" aria-valuemin="0" aria-valuemax="@Model.Ingredients" style="width: @(Convert.ToInt32((double) Model.IngredientDrink * 100 / (double) Model.Ingredients))%"></div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td><span class="label bg-red">Other</span></td>
                                <td>@Model.IngredientOther</td>
                                <td>
                                    <div class="progress">
                                        <div class="progress-bar bg-red" role="progressbar" aria-valuenow="@Model.IngredientOther" aria-valuemin="0" aria-valuemax="@Model.Ingredients" style="width: @(Convert.ToInt32((double) Model.IngredientOther * 100 / (double) Model.Ingredients))%"></div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Task Info -->
    <!-- Browser Usage -->
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="card">
            <div class="header">
                <h2>@L("DashboardTitleMealTypes").ToUpper()</h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>@L("Refresh")</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="donut_chart" class="dashboard-donut-chart"></div>
            </div>
        </div>
    </div>
    <!-- #END# Browser Usage -->
</div>